/*body {
    background-color: ;
} */
h1 {
    color: black;
}
p {
    color: black;
}

.playnowbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 10%;
    opacity: 0.9;
}

.playnowbtn:hover {
    width: 10%;
    opacity:1;
}