body{
	background:#88ff00 ;
		
}
h1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 100px;
	text-decoration: underline;;
	color: #8800ff;
	height: auto; width: 50%;
	background:#D06566;

}
table{
	background: #7700ff;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	border: solid #090303; border-spacing: 8px;
	border: ridge;
	box-shadow: 10px 10px 15px silver inset;
}
thead{
	font-size: 40px;
}
tbody{
	font-size: 30px;
}
td,th{
	width: 300px;
}
th{
	background:#e2b007;
}
td{
	backface-visibility:hidden;
	background: #FFFAFA;
}
h2{
	text-align: center
	
}
nav{
	font-size: 20px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	width: 18%; height: auto;
	background: #FFFFFF;
}
ul{
	
}
