body{
	background: #9400D3 ;
		
}
h1{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 100px;
	text-decoration: underline;;
	color: #8800ff;
	height: auto; width: 50%;
	background:#D06566;

}
table{
	background: #7700ff;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	border: solid #090303; border-spacing: 8px;
	border: ridge;
	box-shadow: 10px 10px 15px silver inset;
}
thead{
	font-size: 40px;
}
tbody{
	font-size: 30px;
}
td,th{
	width: 300px;
}
th{
	background:#e2b007;
}
td{
	backface-visibility:hidden;
	background: #FFFAFA;
}
h2{
	font-size: 30px;
	text-align: left;
}
nav{
	width: 400px;
	background: gray;
	height: 500px;
}
.seite{
	height: 40px;
	position: absolute;
	left: 10px;
	z-index: 5;
}
.seite ul{
	list-style: none;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	width: 180px;
	margin: 0;
	padding: 0;
}
.seite ul li{
	position: relative;
}
.seite a{
	color: #f9f9f9;
	display: block;
	text-decoration: none;
	transition: 1s;
	-moz-transition: 1s;
	-webkit-transition: 1s;
	-o-transition: 1s;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: bold;
	font-size: 16px;
	padding: 12px 0px 12px 20px;
}
.seite a:hover{
	background: #9400D3;
	color: #fff;
	font-style: italic;
}
.seite ul li:hover{
	display: block;
}

br{
	height: 70px;
}

