h1 {
    color: black;
}
p {
    color: black;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 900px;
    width: 1600px;
    background: black
}
Body {
    background: #303437;
}