Body {
    background: #303437;
    color: white;

    font-size: 22px;
    padding-left: 5%;
    padding-right: 20%;
}
h1 {
    color: white;

}
h2 {
    color: white;
}
h3 {
    color: white;
}
p {
    color: white;

}

.drpddown{
    padding: 16px;
    border: none;
    cursor: pointer;
    margin-right: 100px;
}
.dropdownmenu{
    position: relative;
    display: inline-block;
    float: right;
}
.dropdowninhalt{
    visibility: hidden;
    position: absolute;
    top: -10px;
    background-color: limegreen;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px darkgreen;
    z-index: 1;
    opacity: 0;
    transition: 0.3s ease;
    line-height: 20px;
}
.dropdowninhalt a{
    color: blueviolet;
    padding: 18px 16px;
    text-decoration: none;
    display: block;
    width: auto;
    height: 100px;
    color: black;
    vertical-align: central;
}
.dropdowninhalt a:hover{
    background-color: limegreen;
    font-style: italic;

}
.dropdownmenu:hover .dropdowninhalt {
    visibility: visible;
    opacity: 1;

}
.dropdownmenu .drpddown {
    background-color: white;
}