html{
    font-family: "Baskerville Old Face";
}
body{
    margin: 0;
    padding: 0;
}
.drpddown{
    border: none;
    cursor: pointer;
}
.dropdownmenu{
    position: relative;
    display: inline-block;
}
.dropdowninhalt{
    visibility: hidden;
    position: absolute;
    top: -20px;
    background-color: limegreen;
    right: -172px;
    width: 200px;
    box-shadow: 0px 8px 16px 0px darkgreen;
    z-index: 1;
    opacity: 0;
    transition: 0.3s ease;
    line-height: 20px;
}
.dropdowninhalt a{
    padding: 18px 16px;
    text-decoration: none;
    display: block;
    width: auto;
    height: 100px;
    color: black;
    vertical-align: central;
}
.dropdowninhalt a:hover{
    background-color: limegreen;
    font-style: italic;

}
.dropdownmenu:hover .dropdowninhalt {
    visibility: visible;
    opacity: 1;
}
.dropdownmenu .drpddown{
    background-color: white;
}
h1{
    text-align: center;
    height: 100px;
    font-size: 100px;
    color: blueviolet;
    background-color: orange;
}
.tabelle{
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: 430px;
    margin-top: 200px;
    box-sizing: initial;
}
tr{

}
th{
    font-size: 50px;
    background-color: yellow;
}
td{
    font-size: 30px;
}
ul{
    list-style: none;
}
li{
    font-size: 20px;
}
.seitenanzeige1{
    margin-top: -24.2px;
    background-color: blue;
    width: 300px;
}
h2{
    font-size: 30px;
    text-align: center;
}
.faq{
    float: left;
    margin-left: 440px;
}
.istgleich{
    float: right;
    margin-right: 172px;
}
.übertabelle{
    margin-top: -630px;
    height: 5px;
    border: none;
    background-color: red;
}
.seitenstrich{
    float: left;
    margin-left: 300px;
    height: 900px;
    width: 5px;
    border: none;
    background-color: red;
    margin-top: -786px;
}
.seitenanzeige2{
    margin-top: -10px;
    margin-top: -24.2px;
    background-color: limegreen;
    width: 300px;
}